.menu {
  & > .menu-header {
    font-size: 13px;
    color: var(--font-color-gray);
    margin-bottom: 2px;
  }

  & > .menu-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;

    li {
      list-style: none;
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 8px;
        color: #FFF;
        border-radius: 4px;
        height: 32px;
        text-decoration: none;

        & > i {
          color: var(--accent-color);
        }

        &.active {
          background-color: var(--accent-color);

          & > i {
            color: #FFF;
          }
        }

        &:hover:not(.active) {
          background-color: var(--bg-color);
          transition: background-color 450ms ease;
        }
      }
    }
  }
}